*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:white;
    padding:40px;
}

.container{
    max-width:1000px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:40px;
}

.setup-box,
.question-box,
.answer-box,
.feedback-box{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    margin-bottom:25px;
    border:1px solid #334155;
}

select{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:none;
    border-radius:6px;
}

.start-btn,
.submit-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:6px;
    cursor:pointer;
}

textarea{
    width:100%;
    height:150px;
    margin-bottom:15px;
    padding:15px;
    border:none;
    border-radius:8px;
    resize:none;
}

h2{
    margin-bottom:15px;
}

p{
    color:#cbd5e1;
}
/* Progress Section */

.progress-box{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
    border:1px solid #334155;
}

.progress-info{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
}

.progress-bar{
    width:100%;
    height:12px;
    background:#334155;
    border-radius:20px;
    overflow:hidden;
}

#progress-fill{
    width:0%;
    height:100%;
    background:#2563eb;
    transition:0.5s;
}

/* Restart Button */

.restart-section{
    text-align:center;
}

.restart-btn{
    background:#dc2626;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:6px;
    cursor:pointer;
}